#hero-section{
    display: flex;
    position: relative;
    flex-direction: column;

    height: 100vh;
    width: 100%;
    padding: 0 10%;

    align-items: center;
    justify-content: center;
}

.hero-section__title{    
    position: relative;
    font-family: var(--secondary-font);
    font-size: 54px;
    font-weight: 900;
    color: var(--default-font-color);
    text-transform: uppercase;

    margin: 24px 0;
}

.hero-section__join{
    position: relative;
    font-family: var(--secondary-font);
    color: var(--default-font-color);
    font-size: 22px;

    padding: 12px;

    background: none;
    outline: none;
    cursor: pointer;

    border: none;
    background-image:
        linear-gradient(var(--background-color), var(--background-color)),
        linear-gradient(270deg, #00D7B9, #B95DD7 50%, #FFB367 100%);
    
    background-repeat: no-repeat;
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 100% 0;
    background-origin: padding-box, border-box;

    animation: join-button-grad 1.2s ease infinite alternate;

    border: 2px solid transparent;

}

.hero-section__scroll-down{
    position: absolute;
    bottom: 0;
    font-family: var(--secondary-font);
    font-size: 18px;
    color: var(--default-font-color);

    margin-bottom: 24px;
    width: 90%;
}

@media (max-width: 768px){
    .hero-section__title{
        font-size: 36px;
    }
    .hero-section__join{
        font-size: 18px;
        font-weight: 400;
    }
    .hero-section__scroll-down{
        font-size: 14px;
    }
}

@media (max-width: 425px){
    .hero-section__title{
        font-size: 38px;
        word-wrap: break-word;
    }
}

@keyframes join-button-grad{
    100%{
        background-position: 0 0, 0 0;
    }
}