#events{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    padding: 12px 0px;
}

.events__heading{
    position: relative;
    padding: 0;
    width: fit-content;

    font-family: var(--secondary-font);
    font-size: 48px;
    color: var(--default-font-color);

    padding-bottom: 2px;
    margin: 0 auto;
    border-bottom: solid var(--highlight-color) 2px;
}

@media (max-width: 1024px){
    .events__heading{
        font-size: 42px;
    }
}

@media (max-width: 768px){
    .events__heading{
        font-size: 36px;
    }
}

@media (max-width: 425px){
    .about{
        height: fit-content;
    }
    .events__heading{
        font-size: 30px;
    }
}
