#about{
    position: relative;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10vh;
    padding: 12px 0px;

    overflow: hidden;
}

.about__heading{
    position: relative;
    padding: 0;
    width: fit-content;

    font-family: var(--secondary-font);
    font-size: 48px;
    color: var(--default-font-color);

    padding-bottom: 2px;
    margin: 0 auto;
}

.about__heading::after{
    content: '';
    display: block;
    height: 2px;
    background: var(--highlight-color);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.about__paras{
    margin-top: 24px;
}

.about__para{
    position: relative;
    font-family: var(--secondary-font);
    font-size: 18px;
    color: var(--default-font-color);
    width: 55%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 18px;
}

@media (max-width: 1024px){
    .about__para{
        font-size: 16px;
        width: 84%;
    }
    .about__heading{
        font-size: 42px;
    }
}

@media (max-width: 768px){
    #about{
        margin-bottom: initial;
    }
    .about__heading{
        font-size: 36px;
    }
    .about__paras{
        margin-top: 12px;
    }
}

@media (max-width: 425px){
    .about__para{
        font-size: 14x;
        width: 94%;
    }
    .about__paras{
        margin-top: 0px;
    }
    .about__heading{
        font-size: 30px;
    }
}