.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  backdrop-filter: blur(60px);
}

.App-img{
  max-width: 90%;
  height: 60%;
  padding: 12px;
  padding-top: 108px;
  box-sizing: border-box;
  object-fit: contain;
}

.App-header {
  display: flex;
  height: 38%;
  padding-top: 36px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  box-sizing: border-box;
  color: #222831;
}