.App {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.App-img{
  max-width: 90%;
  height: 60%;
  padding: 12px;
  padding-top: 108px;
  box-sizing: border-box;
  object-fit: contain;
}