:root {
  --secondary-font: 'Montserrat';
  --default-font-color: #f0f0f0;
  --background-color: #161616;
  --nav-font-color: #dddddd;
  --background-text-color: #0e0e0e;
  --nav-highlight-color: linear-gradient( 315deg, #81FFEF 10%, #F067B4 100%);
  --highlight-color: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%);
  
}

*{
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  scroll-padding-block-start: 10vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

.background-text{
  position: absolute;

  font-size: 264px;
  font-family: var(--secondary-font);
  font-weight: 900;
  color: var(--background-text-color);

  user-select: none;
  overflow: hidden;
}

.background-heading{
  position: absolute;
  bottom: 0;
  right: 0;

  font-family: var(--secondary-font);
  font-size: 232px;
  font-weight: 900;
  color: var(--background-text-color);
  
  transform: rotate(270deg) translate(85%,-60%);
  transform-origin: right center;
  user-select: none;

  z-index: 0;
}

.processing{
  bottom: 1%;
  right: 300px;
}

.amity{
  bottom: calc(1% + 288px * 2);
  left: 5%;
}

.image{
  bottom: calc(1% + 288px);
  right: 300px;
}

.graphics{
  bottom: 0;
  right: 0;
  transform: rotate(270deg) translateX(40%) translateY(140%);
}

@media (max-width: 1024px){
  .amity{
    left: unset;
    right: 300px;
  }
}