.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    height: 10vh;
    width: 100vw;

    padding: 0 5%;
    padding-top: 6px;
    margin: 0 auto;

    justify-content: space-between;
    align-items: center;

    background-color: #ffffff00;
    transition: background-color ease 0.4s;

    box-sizing: border-box;
    z-index: 1;
}

.nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav ul li a{
    position: relative;
    margin: 0 18px;
    padding: 6px;
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 400;
    text-transform: lowercase;
    color: var(--nav-font-color);

    cursor: pointer;
    text-decoration: none;
}

.nav img{
    height: 66px;
    width: auto;
    transition: filter ease 0.4s;
}

@media (min-width: 768px){
    .nav ul li a:after {
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        width: 0;
        position: absolute;
        background: var(--background-color);
        transition: width 0.5s ease, left 0.5s ease, background 0.5s ease;
        width: 0;
    }
    
    .nav ul li a:hover:after { 
        width: 100%; 
        left: 0; 
        background: var(--highlight-color);
    }

    .nav img:hover{
        filter: grayscale(100%);
    }
}

@media (max-width: 768px){
    .nav li{
        display: none;
    }
    .nav img{
        height: 54px;
    }
}